.mobile-nav {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  min-height: 100vh;
  display: block;
  z-index: 98;
  padding-top: 80px;
  background-color: white;
  transition: 0.4s;
}
.active {
  left: 0;
}
.mobile-nav a {
  display: block;
  width: 100%;
  text-align: left;
  color: black;
  text-decoration: none;
  padding: 1px 15px;
  background-color: white;
  margin: 0 auto 16px;
}
i {
  color: #ffcc00;
  z-index: 98;
  padding-right: 18px;
}

.icon-spacing a:hover {
  background-color: rgb(132, 131, 134);
}
.icon-spacing {
  padding-left: 9px;
}
.click1 {
  font-size: 16px;
  cursor: pointer;
}
.mobile-nav nav #idd1 {
  background-color: #ffcc00;
}

.close-nav {
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 28px;
  font-weight: 50;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 640px) {
}
