@media only screen and (min-device-width: 360px) and (max-device-width: 640px) {
  html,
  body {
    overflow-x: hidden;
  }

  .main-nav {
    position: fixed;
    width: 100%;
    display: flex;
    left: 0;
    top: 0;
    justify-content: space-between;
    align-items: center;
    z-index: 89;
    background-color: #ffcc00;
    color: black;
    padding: 14px 14px;
    font-size: 7px;
  }
  .main-nav2 {
    position: fixed;
    width: 100%;
    display: flex;
    left: 100%;
    top: 0;
    justify-content: space-between;
    align-items: center;
    z-index: 89;
    background-color: #ffcc00;
    color: black;
    padding: 14px 14px;
    font-size: 7px;
  }
  .active2 {
    left: 0;
  }

  .mobile-nav {
    position: relative;
    min-height: 100vh;
    font-family: "Montserrat", sans-serif;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    display: block;
    z-index: 68;
    padding-top: 80px;
    background-color: white;
    transition: 0.4s;
  }
  .active {
    left: 0;
  }
  .center {
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: "300";
  }
  .mobile-nav a {
    display: block;
    width: 100%;
    text-align: left;
    color: black;
    text-decoration: none;
    padding: 1px 15px;
    background-color: white;
    margin: 0 auto 16px;
  }
  i {
    color: #ffcc00;
    z-index: 98;
    padding-right: 18px;
  }

  /* .icon-spacing a:hover {
    background-color: rgb(132, 131, 134);
  } */
  .icon-spacing {
    padding-left: 9px;
  }
  .click1 {
    font-size: 16px;
    cursor: pointer;
    padding-right: 30px;
  }
  .mobile-nav nav #idd1 {
    background-color: #ffcc00;
  }

  .close-nav {
    position: absolute;
    top: 20px;
    padding-right: 35px;
    right: 10px;
    z-index: 98;
    font-weight: bold;
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 28px;
    font-weight: 500;
  }
  .footer-nav {
    position: fixed;
    width: 100vw;
    display: flex;
    left: 0;
    bottom: 0;
    z-index: 1;
    align-items: center;
    justify-content: space-around;
    background-color: #ffffff;
    color: black;
    padding: 14px 14px;
    font-size: 17px;
  }
  .footer-nav i {
    color: #000000;
    padding-right: 4px;
  }
  .footer-arr {
    padding-left: 2px;
    padding-right: 10px;
    display: block;
  }
  .footer-nav a {
    width: 100%;
    color: black;
    text-decoration: none;
    padding: 1px 15px;
    background-color: white;
    font-size: 10px;
  }
  .footer-nav a:hover,
  i:hover {
    color: #ffcc00;
  }
  .modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
  }
  .modal-activate {
    visibility: visible;
    opacity: 1;
    z-index: 98;
  }
  .modal-box {
    position: relative;
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    background-color: white;
    width: 80vw;
    height: 40vh;
    padding-bottom: 40px;
    margin-bottom: 120px;
    z-index: 99;
    display: inline;
    padding-left: 40px;
    padding-top: 27px;
  }

  input[type="number"] {
    border: none;
    border-bottom: 2px dashed black;
    border-top: hidden;
  }
  input[type="submit"] {
    background-color: #cdd2d0;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .modal-box .posit {
    padding-top: 34px;
  }
  .modal-btn {
    /* position: fixed; */
    height: 100px;
    width: 100px;
    border-radius: 100%;
    /* display: inline-block; */
    background: url(images/mtnlogo.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: 70px 60px;
  }

  .close-modal {
    position: absolute;
    display: none;
    top: 10px;
    right: 10px;
    font-weight: bold;
    cursor: pointer;
  }
  .modal-bg2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
  }
  .modal-activate2 {
    visibility: visible;
    opacity: 1;
    z-index: 98;
  }
  .modal-box2 {
    position: relative;
    font-family: "Montserrat", sans-serif;
    background-color: white;
    width: 100vw;
    height: 100vh;
    top: 90px;
  }
  .loginT {
    font-size: 8px;
    font-weight: 350;
    text-align: center;
    color: #000000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
  }

  .close-modal2 {
    position: absolute;
    display: none;
    top: 10px;
    right: 10px;
    font-weight: bold;
    cursor: pointer;
  }
  .forMore {
    background-color: #ffcc00;
    color: rgb(5, 80, 96);
  }
}
@media screen and (min-width: 1024px) and (max-height: 1310px) {
  /* body,
  html {
    display: none;
  } */
}
